<html>
  <head>
    <title>Hello world!</title>
  </head>
  <body>
    <h1>ユーザー名:<%= current_user.name %>
  	<h1><%= link_to "チュートリアルページへ", tutorial_select_path %></h1>
  	<h1><%= link_to "マイページへ", toppage_mypage_path %></h1>
  </body>
</html>